<a href="https://colab.research.google.com/github/seeun-p/park/blob/main/%EB%AC%B8%EC%9E%90%EC%97%B4%EC%9D%84_%EC%A0%95%EC%88%98%EB%A1%9C_%EB%B0%94%EA%BE%B8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 문자열 s -> 숫자로 변환
# str -> int

def solution(s) :
  return int(s)

In [2]:
s = 1234
print(solution(s))

1234

In [4]:
s = -1234
print(solution(s))

-1234